main .featured {
  background-color: var(--accent-background-color);
  border-left: 15px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top,#a4ce4e,#0090da);
}

main .featured div {
  display: flex;
  flex-direction: row;
  padding: 50px 30px;
}

main .featured > div > div {
  display: flex;
  flex-direction: column;
}

/* Font Details:

font-family: MetLifeCircular, Arial, Helvetica, "sans-serif"
font-size: 32px
font-style: normal
font-variant-caps: normal
font-variant-east-asian: normal
font-variant-ligatures: normal
font-variant-numeric: normal
font-weight: 500 */
