footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

footer .footer > div > div {
  display: flex;
}

footer .footer .left {
  padding: 0 50px 0 0;
}

footer .footer img {
  width: 132px;
  height: auto;
  object-fit: cover;
}
